<div class="navbar navbar-inverse navbar-static-top" role="navigation" id="main-nav" style="margin-bottom:0px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="padding-top: 30px; padding-left: 20px" href="/">
                <h>SFPD Data Analysis</h>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li id="home_page">
                    <a href="/">Home</a>
                </li>
                <li id="map_page">
                    <a href="/map">Map</a>
                </li>
                <li id="crossfilter_page">
                    <a href="/crossfilter">Crossfilter</a>
                </li>
                <li id="scatterplot_page">
                    <a href="/scatterplot">Scatterplot</a>
                </li>
            </ul>
        </div>
    </div>
</div>